@font-face {
    font-family: Font Titulos;
    src: url(../fonts/FirstFont.ttf);
}


.important {
    font-weight: bold;
}

.fa-trash{
    color: rgb(164, 2, 2);
}

.fa-edit{
    color: rgb(0, 119, 255);
}

.fa-close{
    color: rgb(0, 119, 255);
}

/* #buscadorBlog{
    align-items: center;
} */

body{
    background-color:rgb(220, 220, 220);
}


#seccion_lista{
background-color: rgb(180, 178, 178);    
float: right;
margin-right: 10px;
margin-top: 96px;
border-radius: 8px;
text-align: center;
box-shadow: 10px 5px 5px rgb(96, 96, 96);
}

#seccion_blog{
    margin-left: 10px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    background-color: lightblue;
    border: 2px solid rgb(145, 144, 144);
    border-radius: 5px;
}

h1.titulo1{
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(96, 96, 96);
}

article{
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgb(96, 96, 96);

}
h3{

    text-align: center;
}

#blog_seccion{
    width: 80%;
}